.group-agenda-list
  .section-heading
    Today's Agenda
  %p
    %i Please update your agenda daily by clicking on the content. You can only edit your own.
  - @agendas.each do |agenda|
    .group-agenda-item
      %b= agenda.user.full_name
      - if agenda.user == current_user
        .individual-agenda-editable{"data-group-id" => "#{@group.id}", "data-agenda-id" => "#{agenda.id}", "data-agenda-body" => "#{agenda.body}"}
          - if agenda.body?
            = agenda.body
          - else
            (Click to add...)
      - else
        .individual-agenda
          - if agenda.body?
            = agenda.body
          - else
            (None entered yet.)
