.medium-6.large-4.columns
  .callout.panel.group-agendas
    .section-heading
      %h4 Today's Agenda
    %p.agenda-instructions
      Double-click on your own agenda to edit in place.
    - @agendas.each do |agenda|
      .group-agenda-item
        %b= agenda.user.full_name
        - if agenda.user == current_user
          .individual-agenda-editable{"data-group-id" => "#{@group.id}", "data-agenda-id" => "#{agenda.id}", "data-agenda-body" => "#{agenda.body}"}
            - if agenda.body?
              = agenda.body
            - else
              (Click to add...)
        - else
          .individual-agenda
            - if agenda.body?
              = agenda.body
            - else
              (None entered yet.)
        - unless agenda == @agendas.last
          %hr/
