.group-agenda-list
  %h3 Today's Agenda
  / = best_in_place @agenda, :body, :type => :textarea, :nil => "Click to add", :path => group_agenda_path(@group), :data => { :agenda_body => @agenda.body }
  - @members.each do |member|
    .group-agenda-item
      = member.full_name
      - agenda = member.agendas.where(:group_id => @group.id).last
      - if member == current_user
        .individual-agenda-editable{"data-group-id" => "#{@group.id}", "data-agenda-id" => "#{agenda.id}", "data-agenda-body" => "#{agenda.body}"}= agenda.body
      - else
        .individual-agenda= agenda.body
    %br/

/ .group-agenda-add
/   = form_for([@group, @group.agendas.build], html: {id: 'agenda-form'}) do |f|
/     %fieldset
/       %legend Add an Agenda
/       .field
/         = f.text_area :body, :size => '80x3'
/         %br/
/       .actions
/         = f.submit
