= form_for(@group, html: {id: 'group-details-form'}) do |f|
  %fieldset
    %legend Add/Update Group
    .field
      = f.label :name
      = f.text_field :name
      %br/
    .field
      Add User to Group
      = select_tag 'person', options_from_collection_for_select(@possible_users_to_add, 'id', 'full_name'), :include_blank => true
      %br/
    .actions
      = f.submit
