- if @group.errors.any?
  .alert-box.alert
    - @group.errors.full_messages.each do |msg|
      = msg

= form_for(@group, html: {id: 'group-details-form'}) do |f|
  %fieldset
    %legend Group Details
    .field
      = f.label :name
      = f.text_field :name
    .field
      = label_tag  :person, 'Add User to Group'
      = select_tag :person, options_from_collection_for_select(@possible_users_to_add, 'id', 'full_name'), :include_blank => true
    .actions
      = f.submit :class => 'button round'

  - if params[:id].present?
    .edit-group-delete-link
      = link_to 'Remove Group', @group, :method => :delete, :confirm => "Are you sure? All its associated data will be gone!"
