.section-heading
  In This Group

.group-members-list
  %ul
    .group-members-list-item-admin
      %li= "#{@owner.full_name} (@#{@owner.username}) (Admin)"
    - @members.each do |member|
      - if member != @owner # can't move this to line below without extra space/line when false
        %li.group-members-list-item-regular
          = "#{member.full_name} (@#{member.username})"
          - if @is_owner == true
            %button.remove-from-group{"data-group-id" => "#{@group.id}", "data-member-id" => "#{member.id}"}= "Remove from Group"

- if @is_owner == true
  .group-admin-edit-link
    = link_to 'Add Member/Edit Group Name', edit_group_path(@group)
/ - else
/   .group-member-leave-group-link
/     = link_to "Leave Group", "#", "data-group-id" => "#{@group.id}", "data-member-id" => "#{current_user.id}"
