.group-admin
  %p
    - if @owner.nil?
      Admin: [Deleted User]
    - else
      = "Admin: #{@owner.full_name} (@#{@owner.username})"

.group-members-list
  %p Members:
  %ul
    - @members.each do |member|
      - if member != @owner # can't move this to line below without extra space/line when false
        %li.group-members-list-item-regular
          = "#{member.full_name} (@#{member.username})"
          - if @is_owner == true
            %small
              %a.remove-from-group{"data-group-id" => "#{@group.id}", "data-member-id" => "#{member.id}"}= "Remove from Group"

- if @is_owner == true
  .group-admin-edit-link
    = link_to 'Add Member/Edit Group Name', edit_group_path(@group)
- else
  .group-member-leave-group-link
    = link_to 'Leave Group', group_leave_group_path(@group), :confirm => "Are you sure?"
/ - else
/   .group-member-leave-group-link
/     = link_to "Leave Group", "#", "data-group-id" => "#{@group.id}", "data-member-id" => "#{current_user.id}"
