.section-heading
  What is everyone up to?

= form_for([@group, @group.statuses.build], html: {id: 'add-status-form'}) do |f|
  %fieldset
    %legend Add a Status
    .field
      = f.text_area :body, :size => '50x3'
      %br/
    .field
      = f.label :tracking, 'Start timer?'
      = f.check_box :tracking
      %br/
    .field
      = hidden_field_tag :group_id, @group.id
    .actions
      = f.submit

.group-status-list
  - @statuses.each do |message|
    .group-status-list-item
      = "#{message.user.full_name} (@#{message.user.username})"
      \|
      %i= time_ago_in_words(message.created_at) + ' ago'
      - if message.at_user == current_user.username || message.at_user == "all"
        .group-status-list-item-body-mention
          = message.body
      - else
        .group-status-list-item-body-regular
          = message.body
      .group-status-list-item-tracking
        - if message.user_id == current_user.id && message.tracking
          = link_to "Done? Stop timer", switch_tracking_group_status_path(@group, message), :method => :put
      - if message.user_id == current_user.id
        = link_to "Delete (Rails)", [@group, message], :method => :delete, :confirm => "Are you sure?"
        = link_to "Delete (JS)", "#", :class => 'delete-status-link', "data-group-id" => "#{@group.id}", "data-status-id" => "#{message.id}"
