/ :javascript
/   setTimeout(function(){ location = '' }, 300000)

- if user_signed_in?
  - if @is_member == true
    .row
      %h2= @group.name.titleize
      .panel
        = render 'members'
    .row
      .large-12.columns
        .groups-statuses-section
          = render 'statuses'
        .groups-agendas-section
          = render 'agendas'
    .row
      .large-12.columns
        = will_paginate @statuses, renderer: FoundationPagination::Rails
    .row.clear
  - else
    %p This is not the group you're looking for...
- else
  %p Please sign up or sign in.

