/ :javascript
/   setTimeout(function(){ location = '' }, 300000)

- if user_signed_in?
  - if @is_member == true
    .page-heading
      = @group.name.titleize
    .groups-members-section
      = render 'members'
    .groups-agendas-section
      = render 'agendas'
    .groups-statuses-section
      = render 'statuses'
    = will_paginate @statuses
  - else
    This is not the group you're looking for...
- else
  Please sign up or sign in.

