%h2= @group.name.titleize

%h3 Members:
- @group.users.each do |member|
  = member.full_name
  = "(Admin)" if @group.owner_id == member.id
  = "|" unless member == @group.users.last

%p ***

%h3 What is everyone up to?

- if @group.users.where(:id => current_user.id).present?
  %p= link_to 'Add a status', new_group_status_path(@group)

- @group.statuses(:created_at).reverse_order.each do |message|
  %div.group-status-list-item
    = User.find(message.user_id).full_name
    \|
    = time_ago_in_words(message.created_at) + ' ago'
    %div.group-status-list-item-body
      = message.body
      %div.group-status-list-item-tracking
        - if message.user_id == current_user.id && message.tracking
          = link_to "Done? Stop timer", switch_tracking_group_status_path(@group, message), :method => :put
    = "---" unless message == @group.statuses.first

%p
  - if @group.owner_id == current_user.id
    Hello, admin! Update group / Add a member

