.medium-6.large-8.columns
  .callout.panel{"data-equalizer-watch" => ""}
    %h3 Recent Mentions
    - if @mentions.present?
      - @mentions.each do |mention|
        .dashboard-mention-item
          .content
            = auto_link(mention.body, :html => {:target => '_blank'}) do |text|
              - truncate(text)
          .info
            = "#{mention.user.full_name} (@#{mention.user.username}) | #{time_ago_in_words(mention.created_at)} ago in"
            = link_to mention.group.name, group_path(mention.group)
    - else
      %p None lately!
