.large-6.columns
  .panel.dashboard-reports{"data-equalizer-watch" => ""}
    %h3 Today
    - if @trackable_items_today.present?
      = pie_chart @trackable_items_today.group(:body).sum(:time_tracked)
      .panel.details
        .dashboard-reports-list
          - @trackable_items_today.sort_by(&:created_at).reverse.each do |status|
            .dashboard-report-item
              .content
                = status.body
              .info
                %i= distance_of_time_in_words(status.time_tracked)
                %i= "and counting" if status.tracking?
                \|
                = link_to status.group.name, group_path(status.group)
    - else
      %p Nothing yet. Start something?

.large-6.columns
  .panel.dashboard-reports{"data-equalizer-watch" => ""}
    %h3 Yesterday
    - if @trackable_items_yesterday.present?
      = pie_chart @trackable_items_yesterday.group(:body).sum(:time_tracked)
      .panel.details
        .dashboard-reports-list
          - @trackable_items_yesterday.sort_by(&:created_at).reverse.each do |status|
            .dashboard-report-item
              .content
                = status.body
              .info
                %i= distance_of_time_in_words(status.time_tracked)
                \|
                = link_to status.group.name, group_path(status.group)
    - else
      %p Nothing tracked.
