%h3 Today So Far

= bar_chart @user.statuses.trackable.group(:body).sum(:duration)
/ = pie_chart @user.statuses.tracakble.group(:body).count

- @user.statuses.trackable.today.each do |status|
  %li
    = status.body
    \|
    = link_to status.group.name, group_path(status.group)
    \|
    = distance_of_time_in_words(status.duration)
    = "and counting" if status.tracking?
