%h2= "#{@user.first_name}'s Groups"

- @user.groups.each do |group|
  - if group.owner_id == @user.id
    = link_to "#{group.name} (Admin)", group_path(group)
  - else
    = link_to "#{group.name} (Member)", group_path(group)
  %br/

%p ***

%h3 Recent Mentions
- @mentions.each do |mention|
  = "From: #{mention.user.full_name} (#{mention.user.username}) |"
  = link_to "#{mention.group.name}", group_path(mention.group)
  %br/
  = mention.body

%p ***

%h3 Today So Far
- @user.statuses.trackable.today.each do |status|
  %li= status.body
  - if status.tracking?
    = "(in progress)"
  - else
    = status.duration if status.duration? # need to figure out conversion and what to display

- if @user == current_user
  %p Join a group

-
