- content_for :javascripts do
  = javascript_include_tag "//www.google.com/jsapi", "chartkick"

- if user_signed_in?
  - if current_user == @user
    .users-groups-section
      = render 'groups'
    .users-reports-section
      = render 'reports'
    .users-mentions-section
      = render 'mentions'
    .users-agendas-section
      = render 'agendas'
  - else
    This is not the dashboard you're looking for...
- else
  Please sign up or sign in.
