%h2= "#{@user.first_name}'s Groups"

- @user.groups.each do |group|
  - if group.owner_id == @user.id
    = link_to "#{group.name} (Admin)", group_path(group)
  - else
    = link_to "#{group.name} (Member)", group_path(group)
  %br/

%p ***

%h3 Recent Mentions
- @mentions.each do |mention|
  %p
    = "From: #{mention.user.full_name} (#{mention.user.username}) | #{time_ago_in_words(mention.created_at)} ago |"
    = link_to "#{mention.group.name}", group_path(mention.group)
    %br/
    = mention.body

%p ***

%h3 Today So Far
- @user.statuses.trackable.today.each do |status|
  %li= status.body
  - if status.tracking?
    - if status.duration == nil
      = "#{distance_of_time_in_words(Time.now - status.created_at)} and counting"
    - else
      = "#{distance_of_time_in_words(Time.now.to_i - status.previously_updated_at.to_i + status.duration)} and counting"
  - else
    = status.duration.seconds if status.duration? # need to figure out conversion and what to display

- if @user == current_user
  %p Join a group

-
